*{
    margin: 0px;
    padding: 0px;
}

/* Footer */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

footer p{
    color: black;
}

footer .medsos{
    display: flex;
    gap: 30px;
}